body {
  background: linear-gradient(to right, rgba(54, 4, 42, 0.795), #ffdff0);
  padding: 0;
  margin: 0;
  height: auto;
  position: relative;
  display: block;
}
#app {
  margin: 0 !important;
  height: auto;
  position: relative;
  display: block;
}
.form-space {
  border: none;
  background: #fdfcfd;
  border-top-left-radius: 11% 60%;
  border-bottom-left-radius: 11% 60%;
  border-right-color: rgba(82, 7, 63, 0.849);
  border-right-width: 4px;
  border-right-style: inset;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 40%;
  width: 70%;
}

#footer {
  padding: 20px;
  background-color: #c41088ce;
  color: #ffdff0;
  text-align: center;
  font-size: 11px;
  position: relative;
  display: block;
}

#homepage {
  background-color: #ffdff0;
  margin: 0;
  padding: 0;
  font: 15px 1.5em Arial, Helvetica, sans-serif;
}

#homepage .container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
#div-fit {
  position: relative;
  display: block;
  padding-bottom: 40px;
  padding-left: 25%;
}
.button1 {
  background-color: #c41088;
  height: 6vh;
  width: 16%;
  min-height: 1vh;
  min-width: 6vh;
  display: inline-block;
  font-size: 16px;
  font-family: cursive;
  cursor: pointer;
  color: #fdfcfd;
  border-radius: 14px;
}
input[type="text"],
input[type="password"] {
  width: 50%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid rgb(201, 28, 158);
  color: #e9c4d8;
  border-radius: 11px;
  outline: 0;
}
.label2 {
  display: inline-block;
  font-size: 16px;
  border-radius: 11px;
  color: #e9c4d8;
  text-align: center;
  font-family: cursive;
}
#center {
  align-content: center;
  text-align: center;
  align-self: center;
}
input:active {
  outline: 0;
}
input:focus {
  background: #fdfcfd;
  box-shadow: 0 0 3pt 2pt #ffdff0;
}
button:hover {
  opacity: 0.7;
}
a:link,
a:visited {
  color: rgb(201, 28, 158);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a:hover {
  color: #ffdff0;
  outline: 0;
}
a:active {
  background-color: rgb(253, 146, 226);
  outline: 0;
}

.label1 {
  min-height: 4vh;
  width: 100%;
  display: inline-block;
  font-size: 21px;
  border-radius: 11px;
  color: rgb(82, 7, 63);
  text-align: center;
  font-family: cursive;
}

button:focus {
  background: rgb(167, 33, 133);
  outline: 0;
}
button:active {
  background: rgba(199, 42, 160, 0.815);
  outline: 0;
}
.navbar {
  width: 100%;
  background-color: rgba(54, 4, 42, 0.801);
  color: white;
  text-align: center;
  font-size: 11px;
  overflow: auto;
}

.navbar a {
  text-align: center;
  float: right;
  font-family: cursive;
  padding: 6px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 26px;
}

.navbar a:hover {
  box-shadow: 3px 3px 3pt 2pt #ffdff0;
  color: #ffdff0;
}

.navbar a:active {
  background-color: #c41088;
  color: black;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.warning-text {
  color: #c41088;
  text-align: center;
  font-family: cursive;
  font-size: 21;
}
